.page-header {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.5s all;
}
.page-header.sticky {
  background: #000;
  box-shadow: 0 1px 10px rgba(#000, 0.5);
}
.page-header .container {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:760px) {
  .page-header {
    position: absolute;
  }
  .page-header .container {
    padding-top: 50px;
    flex-direction: column;
  }
}
